* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
}

body {
    background-color: #16B1E9;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 550;
    padding: 20px;
}

input {
    background-color: #fff;
    width: 10rem;
    border-style: none;
    padding: 5px;
}

.submit {
    margin-top: 5px;
}