* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
}

body {
    background-color: #16B1E9;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 550;
    padding-top: 20px;
}

.addItemContainer {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.addItemContainer input {
    background-color: #fff;
    width: 13rem;
    border-style: none;
}

.addButton {
    margin-left: 15px;
}